.taskCartContainer {
    width: 400px;
    height: 700px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: var(--transition);
}

.taskCartContainer:hover {
    scale: var(--scale);
    -webkit-box-shadow: 0px 0px 25px 25px rgba(58, 255, 0, 0.2);
    -moz-box-shadow: 0px 0px 25px 25px rgba(58, 255, 0, 0.2);
    box-shadow: 0px 0px 25px 25px rgba(58, 255, 0, 0.2);
}

@media(max-width: 768px) {
    .taskCartContainer {
        width: 380px;
        height: 700px;
        border: 2px solid var(--primary-color);
        border-radius: 10px;
        transition: var(--transition);
    }

    .taskCartContainer:hover {
        scale: var(--scale);
        -webkit-box-shadow: 0px 0px 25px 25px rgba(58, 255, 0, 0.2);
        -moz-box-shadow: 0px 0px 25px 25px rgba(58, 255, 0, 0.2);
        box-shadow: 0px 0px 25px 25px rgba(58, 255, 0, 0.2);
    }
}
