.passwordRepeatInput {
    display: grid;
    margin-top: 5%;
    justify-content: center;
    .inputWrapper {
        position: relative;
        display: flex;
        align-items: center;
        .icon {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            color: var(--primary-color);
        }
        input {
            padding-left: 35px;
            width: 250px;
            height: 30px;
            color: var(--primary-color);
            font-size: 20px;
            border-radius: var(--border-radius);
            background: var(--background-color);
            border: 2px solid var(--primary-color);
        }
    }
}
