.mobileHeaderInterfaceButton {
    margin-left: 20%;
    button {
        width: 50px;
        height: 50px;
        color: var(--background-color);
        background-color: var(--primary-color);
        border: none;
        border-radius: var(--border-radius);
        font-size: 1.4rem;
        transition: var(--transition);
    }
    button:hover {
        cursor: pointer;
    }
}