.createTaskMobileInterfaceButton {
    text-align: center;
    margin-top: 10%;
    button {
        width: 310px;
        height: 40px;
        border: 2px solid var(--primary-color);
        border-radius: var(--border-radius);
        background-color: var(--background-color);
        font-size: 22px;
        color: var(--primary-color);
    }
}