.loginButton {
    text-align: center;
    margin-top: 5%;
    button {
        width: 290px;
        height: 40px;
        border: 2px solid var(--primary-color);
        border-radius: var(--border-radius);
        background-color: var(--background-color);
        font-size: 23px;
        color: var(--primary-color);
        transition: var(--transition);
    }
    button:hover {
        color: var(--background-color);
        background-color: var(--primary-color);
    }
}