.favoritesList {
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: repeat(3, 1fr);
}

@media(max-width: 768px) {
    .favoritesList {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
