.header {
    .defHeader {
        display: block;
    }
    .mobHeader {
        display: none;
    }
}

@media(max-width: 768px) {
    .header {
        .defHeader {
            display: none;
        }
        .mobHeader {
            display: block;
        }
    }

}
