.mobileHeaderInterface {
    height: 14vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    border-bottom: 2px solid var(--primary-color);
}