.descriptionInput {
    width: 100%;
    margin-top: 10%;
    text-align: center;
    box-sizing: border-box;
    .descriptionTextarea {
        text-align: center;
        width: 290px;
        height: 100px;
        resize: vertical;
        font-size: 1rem;
        padding: 8px;
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
        border-radius: var(--border-radius);
        background-color: var(--background-color);
    }
}
