.deleteTaskButton {
    margin-left: 20px;
    button {
        width: 80px;
        height: 40px;
        background: var(--background-color);
        color: var(--primary-color);
        border: 2px solid var(--primary-color);
        border-radius: 5px;
        font-size: 20px;
        transition: var(--transition);
    }
    button:hover {
        cursor: pointer;
        color: var(--background-color);
        background: var(--primary-color);
    }
}

.deleteTaskFinalButton {
    width: 280px;
    height: 40px;
    background: var(--background-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 20px;
    transition: var(--transition);
}
.deleteTaskFinalButton:hover {
    cursor: pointer;
    color: var(--background-color);
    background: var(--primary-color);
}
