.defaultHeaderInterfaceLogo {
    margin-left: 20%;
    p {
        display: inline-block;
        font-size: 2.8rem;
        transition: var(--transition);
        color: var(--primary-color);
    }
    p:hover {
        text-shadow: var(--text-shadow);
    }
}
